VITE_GOOGLE_CLIENT_ID=258871831982-4q33u89pllcra9lo0fe17tso28vk73o4.apps.googleusercontent.com
VITE_SPOTIFY_JSON_FILE_ID=12EeIay30iRRfo4Fbfqr0xXhaeGdADxb9
VITE_DRIVE_FOLDER_ID=1j1-3bZfhf1mHNxk--E-MsST4ZKVh8Unt
VITE_AUTH_WORKER_URL=https://sisic-music-auth.sidcode3535.workers.dev
